<!DOCTYPE html>
<html lang="en">
  <head>
    <% if(htmlWebpackPlugin.options.trackJSToken){ %>
      <meta charset="UTF-8"/>
      <!-- BEGIN TRACKJS -->
      <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
      <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
      <!-- END TRACKJS -->
    <% } %>
  </head>
  <body>
    <h1>Hellow World Bob</h1>
    <table>
      <thead>
        <th>&nbsp;</th>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
      </thead>
      <tbody id="users"></tbody>
    </table>
  </body>
</html>
